@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Geo&family=Geostar+Fill&family=Mochiy+Pop+One&family=Poppins&display=swap');

#text1{
    font-family: 'Poppins', sans-serif;
}

#text2{
    font-family: 'Geo', sans-serif;
}

#text3{
    font-family: 'Mochiy Pop One', sans-serif;
}